body {

    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-image: repeating-linear-gradient(rgb(151, 50, 160),rgb(205, 130, 228),rgb(233, 221, 221));
}
#frmLogin
{
   width: 20px;
}
#email
{
   padding: 8px 10px;
    border-radius: 999px;
    border: 1px solid var(--line);
    background: rgba(136, 137, 139, 0.647);
    color: var(--muted);
    font-size: 13px;
}
#senha
{
    padding: 8px 10px;
    border-radius: 999px;
    border: 1px solid var(--line);
    background:  rgba(136, 137, 139, 0.647);
    color: var(--muted);
    font-size: 13px;

}

label {
    font-size: 18px;
    color:  rgb(74, 71, 71);
}


.btn {
    background: var(--btn);
    border: none;
    color: rgb(74, 71, 71);
    padding: 10px 12px;
    border-radius: 12px;
    cursor: pointer;
    font-size: 18px;
    letter-spacing: .2px;
}

.btn:hover {
    filter: brightness(1.05)
}

.btn:disabled {
    opacity: .6;
    cursor: not-allowed
}

.btn-ghost {
    background: rgba(255, 255, 255, .06);
    border: 1px solid var(--line);
    color: var(--text);
}

.btn-danger {
    background: var(--danger)
}